.space-bg {
    background: url('https://media.istockphoto.com/id/1442849073/photo/the-earth-space-planet-3d-illustration-background-city-lights-on-planet.webp?b=1&s=170667a&w=0&k=20&c=foa5cwpPC7CgJLq3je4ZLC0t2_exCQcamB2rNzwODys=') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }